<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GooglesignIN</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.453563946840-cg1tu8jkc4uomltcqooc5adifkqg8f4i</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<!-- ADD: In-App Purchase capability -->
	<key>SKAdNetworkItems</key>
	<array/>
</dict>
</plist>